<ion-content fullscreen>

  <ion-item-divider style="padding:0px;" sticky>

    <ion-toolbar>
      <ion-list style="padding: 20px; background-color: teal;">
        <ion-item class="ion-item" (click)="pickStation('origin')">
          From: &nbsp;
          <ion-badge [ngClass]="'badge-' + train.OriginID">{{train.Origin}}</ion-badge> &nbsp;
        </ion-item>
        <ion-item (click)="pickStation('destination')" class="ion-item">
          To: &nbsp;
          <ion-badge [ngClass]="'badge-' + train.DestinationID">{{train.Destination}}</ion-badge> &nbsp;
        </ion-item>
        <ion-item class="ion-item"> Pick Date
          <ion-datetime [(ngModel)]="travelDate" display-timezone="utc">{{travelDate}}</ion-datetime>
        </ion-item>
      </ion-list>
    </ion-toolbar>
  </ion-item-divider>
  <ion-list>

    <ion-item *ngFor="let x of [1,2,3]" (click)="describeTrain(train.TrainName)">
      <ion-card style="width: 100%;">
        <ion-item>
          <ion-label>
            <span style="font-size: small; font-weight: bold;">
              {{train.OriginTime + ' - ' + train.DestinationTime}}
            </span>

            <span style="font-size: smaller; font-weight: normal;">
              {{'(' + train.Duration + ' min)'}}
            </span>
          </ion-label>
        </ion-item>

        <ion-card-content>
          <ion-badge [ngClass]="'badge-' + train.OriginID">{{train.Origin}}</ion-badge> &nbsp;


          <ion-badge [ngClass]="'badge-' + train.DestinationID">{{train.Destination}}</ion-badge>
        </ion-card-content>
      </ion-card>

    </ion-item>


  </ion-list>
</ion-content>



<!-- <ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-list>
        <ion-item (click)="pickStation('origin')">
          From:
        </ion-item>
      <ion-item (click)="pickStation('destination')">
        To:
      </ion-item>
      <ion-item> Pick Date
        <ion-datetime [(ngModel)]="travelDate" display-timezone="utc">{{travelDate}}</ion-datetime>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let x of [1,2,3,4]">
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
</ion-content> -->